<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuestras mascotas en adopción - Ayúdanos a encontrarles una familia</title>
</head>


<body style="text-align: center" >
    <div style="background-color: #993cf6;" class="p-5 m-5">
        <h1>Adopta a una de nuestras mascotas</h1>
    </div>

    <div>
        <p>Si deseas adoptar debes estar registrado y logueado en nuestra App.</p>
        <p>¿Aún no has iniciado sesión? Haz click <a href="">aquí</a></p>
        <h2>Mascotas en Adopción:</h2>
        
        <div class="row">
          <div class="col-xs-4">
            <div class="card">
              <div class="card-body">
                <h3 class="card-title">Parche</h3>
                <p>Fecha: 01/06/2022</p>
                <img src="https://cdn.pixabay.com/photo/2020/12/21/08/36/dog-5849152_960_720.jpg" 
                    weight="500"
                    height="300"
                    alt="">
                <p class="card-text">Nombre: Parche</p>
                <p class="card-text">Tamaño: pequeño</p>
                <p class="card-text">Tipo: Perro</p>
                <p class="card-text">Edad: Aproximadamente 2 meses</p>
                <p class="card-text">Comuna: Santiago</p>
                <p class="card-text">Descripción: Encontramos este perrito y queremos que tenga un dueño que lo cuide.</p>
                <p>Publicado por: Jaime</p>
                <div>
                    <a href="petApp/solicita-adopcion" class="btn btn-success">Quiero Adoptarte</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Maluma</h3>
                    <p>Fecha: 20/06/2022</p>
                    <img src="https://cdn.pixabay.com/photo/2018/01/09/11/04/dog-3071334_960_720.jpg" 
                        weight="500"
                        height="300"
                        alt="">
                    <p class="card-text">Nombre: Maluma</p>
                    <p class="card-text">Tamaño: mediano</p>
                    <p class="card-text">Tipo de mascota: Perro</p>
                    <p class="card-text">Edad: 2 años y 3 meses</p>
                    <p class="card-text">Comuna: Santiago</p>
                    <p class="card-text">Descripción: Debo cambiarme de casa y busco quien pueda adoptar a mi perrita.</p>
                    <p>Publicado por: Roxana</p>
                    <div>
                        <a href="petApp/solicita-adopcion" class="btn btn-success">Quiero Adoptarte</a>
                    </div>
                  </div>
            </div>
          </div>
        </div>
    </div>
    <div class="container pb-5 my-5" style="background-color: pink;">
        <h3> 
            <b>Quiero dar en adopción</b>
        </h3>
        <p>¿Necesitar dar adopción a tu mascota o encontraste a un animalito que necesita hogar?</p>
        <p>Haz click <a href="petApp/crear-adopcion">aquí</a> y completa el formulario que se desplegará.</p>
    </div>
    
</body>
</html>