<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>


    <title>Document</title>
</head>
<body class="m-0" style="background-image: url(https://cdn.pixabay.com/photo/2018/10/01/09/21/pets-3715733_960_720.jpg);">
    <div class="p-5 m-5">
        <h1 style="background-color: #993cf6; text-align: center; color: white;"
            class="p-5 m-5">
            Te Damos la Bienvenida a petApp
        </h1>
    </div>
    <div style="text-align: center;">
        <section class="m-5">
            <img src="assets/images/cuidados.jpg" style="border: 1px solid; color: black;" height="300" weight="700" class="" alt="...">
            <div class="">
                <h3>Cuidados</h3>
                <p>Conoce tips y cuidados de Nuestros veterinarios</p>
            </div>
        </section>

        <section class="m-5">
            <img src="assets/images/adopta.jpg" style="border: 1px solid; color: black;" height="300" weight="700" class="" alt="...">
            <div class="">
                <h3>¿Te gustaría adoptar a una mascota?</h3>
                <p>Conoce a las mascotas que se encuentran en adopción</p>
            </div>
        </section>

        <section class="m-5">
            <img src="assets/images/extravio.jpg" style="border: 1px solid; color: black;" height="300" weight="700" class="" alt="...">
            <div class="">
                <h3>Mascotas Extraviadas</h3>
                <p>Agradecemos el apoyo de nuestra comunidad</p>
            </div>
        </section>
    </div>     
    <footer>
        <div style="background-color: #993cf6; text-align: center; color: white;">
            Gestión Ágil de Proyectos 2022
        </div>
    </footer>
</body>
</html>

