<h1>
    {{ (mascota.id) ? 'Actualizar Mascota' : 'Crear Mascota' }} 
    <small>{{ mascota.nombreMascota }}</small>
</h1>

<div 
   class="container"
   fxLayout="row" 
   fxLayout.md="column">

    <div fxFlex="100" fxLayout="column">

      <mat-divider></mat-divider>
      <h3 class="bg-primary text-white">Datos de Mascota</h3>
      <p>Completa el siguiente formulario para registrar a tu mascota.</p>
      <mat-divider></mat-divider>

      <div fxLayout="row" 
      fxLayoutGap="20px"
      fxLayout.xs="column">
        <mat-form-field fxFlex="100">
            <mat-label>Nombre Mascota</mat-label>
            <input matInput
                   type="text"
                   [(ngModel)]="mascota.nombreMascota"
                   required>
        </mat-form-field>  

        <mat-form-field fxFlex="100">
          <mat-label>Apodo Mascota</mat-label>
          <input matInput
                 type="text"
                 [(ngModel)]="mascota.apodoMascota">
        </mat-form-field>
       </div>

        <div fxLayout="row" 
        fxLayoutGap="20px"
        fxLayout.xs="column">

          <mat-form-field fxFlex="100" class="example-full-width" appearance="fill">
            <mat-label>Seleccione Sexo</mat-label>
            <mat-select [(ngModel)]="mascota.sexo" name="sexos" 
                        #comuna="ngModel"
                        required>
              <mat-option *ngFor="let s of sexos" [value]="s">
                {{ s.nombre }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field fxFlex="100" class="example-full-width" appearance="fill">
            <mat-label>Seleccione Tipo</mat-label>
            <mat-select [(ngModel)]="mascota.tipo" name="tipos" 
                        #comuna="ngModel"
                        required>
              <mat-option *ngFor="let t of tipos" [value]="t">
                {{ t.nombre }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div fxLayout="row" 
        fxLayoutGap="20px"
        fxLayout.xs="column">

          <mat-form-field fxFlex="100" class="example-full-width" appearance="fill">
            <mat-label>Fecha de Nacimiento</mat-label>
            <input [(ngModel)]="mascota.fechaNacimiento"
                    required
                    matInput [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

          <mat-form-field fxFlex="100">
            <mat-label>Lugar de Nacimiento</mat-label>
            <input matInput
                   type="text"
                   [(ngModel)]="mascota.lugarNacimiento">
          </mat-form-field>  

        </div>

        <!-- Antecedentes Medicos-->
        <mat-divider></mat-divider>
        <h3 class="bg-primary text-white">Antecedentes Médicos de su mascota</h3>
        <p>Para una mejor experiencia solicitamos que complete la siguiente información:</p>
        <mat-divider></mat-divider>

        <div fxLayout="row" 
        fxLayoutGap="20px"
        fxLayout.xs="column">

          <mat-form-field fxFlex="100" class="example-full-width" appearance="fill">
            <mat-label>Vacunas al día</mat-label>
            <mat-select [(ngModel)]="mascota.vacunasAlDia" name="tipos" 
                        #comuna="ngModel"
                        required>
              <mat-option *ngFor="let v of vacunas" [value]="v.nombre">
                {{ v.nombre }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field fxFlex="100" class="example-full-width" appearance="fill">
            <mat-label>¿Posee Micro-chip?</mat-label>
            <mat-select [(ngModel)]="mascota.poseeChip" name="tipos" 
                        #comuna="ngModel"
                        required>
              <mat-option *ngFor="let pc of poseeChip" [value]="pc.nombre">
                {{ pc.nombre }}
              </mat-option>
            </mat-select>
          </mat-form-field>

        </div>

        <div fxLayout="row" 
        fxLayoutGap="20px"
        fxLayout.xs="column">

          <mat-form-field fxFlex="100" class="example-full-width" appearance="fill">
            <mat-label>¿Ha tenido alguna operación/cirugía?</mat-label>
            <mat-select [(ngModel)]="mascota.operaciones" name="tipos" 
                        #comuna="ngModel"
                        required>
              <mat-option *ngFor="let op of operaciones" [value]="op.nombre">
                {{ op.nombre }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field fxFlex="100" class="example-full-width" appearance="fill">
            <mat-label>¿Tiene alguna enfermedad?</mat-label>
            <mat-select [(ngModel)]="mascota.enfermedades" name="tipos" 
                        #comuna="ngModel"
                        required>
              <mat-option *ngFor="let ef of enfermedad" [value]="ef.nombre">
                {{ ef.nombre }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <!--Datos dueño-->

        <mat-divider></mat-divider>
        <h3 class="bg-primary text-white">Datos del dueño(a)</h3>
        <p>Complete los datos del dueño de la mascota</p>
        <mat-divider></mat-divider>

        <div fxLayout="row" 
             fxLayoutGap="20px"
             fxLayout.xs="column">
          <mat-form-field fxFlex="100">
            <mat-label>Primer Nombre</mat-label>
            <input matInput
                  type="text"
                    [(ngModel)]="cliente.nombre"
                    required>
          </mat-form-field>  

          <mat-form-field fxFlex="100">
            <mat-label>Segundo Nombre</mat-label>
            <input matInput
                  type="text"
                    [(ngModel)]="cliente.segundo"
                    required>
          </mat-form-field>  
        </div>

        <div fxLayout="row" 
             fxLayoutGap="20px"
             fxLayout.xs="column">

            <mat-form-field fxFlex="100"  fxLayout.xs="column">
                <mat-label>Apellido Paterno</mat-label>
                <input matInput
                       type="text"
                       [(ngModel)]="cliente.apellidoPaterno"
                       required>
            </mat-form-field>

            <mat-form-field fxFlex="100">
                <mat-label>Apellido Materno</mat-label>
                <input matInput
                       type="text"
                       [(ngModel)]="cliente.apellidoMaterno"
                       required>
            </mat-form-field>   
        </div>  

        <div fxLayout="row" 
             fxLayoutGap="20px"
             fxLayout.xs="column">

            <mat-form-field fxFlex="100"  fxLayout.xs="column">
                <mat-label>Email</mat-label>
                <input matInput
                        type="text"
                        [(ngModel)]="cliente.email"
                        required email>
            </mat-form-field>

            <mat-form-field fxFlex="100" class="example-full-width" appearance="fill">
                <mat-label>Fecha de Nacimiento</mat-label>
                 <input [(ngModel)]="cliente.fechaNacimiento"
                        required
                        matInput [matDatepicker]="pickers">
                <mat-datepicker-toggle matSuffix [for]="pickers"></mat-datepicker-toggle>
                <mat-datepicker #pickers></mat-datepicker>
              </mat-form-field>
        </div> 

        <div fxLayout="row" 
             fxLayoutGap="20px"
             fxLayout.xs="column">

             <mat-form-field fxFlex="100" class="example-full-width" appearance="fill">
              <mat-label>Seleccione Región</mat-label>
              <mat-select [(ngModel)]="cliente.region" name="regiones" 
                          #comuna="ngModel"
                          required>
                <mat-option *ngFor="let r of regiones" [value]="r">
                  {{ r.nombre }}
                </mat-option>
              </mat-select>
            </mat-form-field>

              <mat-form-field fxFlex="100" class="example-full-width" appearance="fill">
                <mat-label>Seleccione Comuna</mat-label>
                <mat-select [(ngModel)]="cliente.comuna" name="comunas" 
                            #comuna="ngModel"
                            required>
                  <mat-option *ngFor="let comuna of comunas" [value]="comuna">
                    {{ comuna.nombre }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
        </div> 

        <br>      

        <div class="row">
            <button class="btn btn-block btn-success"
                    (click)="crearMascota()">
                <mat-icon>edit</mat-icon>
                {{ (mascota.id) ? 'Actualizar' : 'Crear' }}
            </button>
            <span class="spacer"></span>
        </div>
    </div>
</div>