<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>

<h2>Listado Veterinario</h2>

<table>
  <tr>
    <th>Nombre</th>
    <th>Apellido</th>
    <th>Genero</th>
    <th>Edad</th>
    <th>Especialización</th>
    <th>Numero Contacto</th>
    <th>Dirección</th>
  </tr>
  <tr>
    <td>Simon Andres</td>
    <td>Peres Bustos</td>
    <td>Masculino</td>
    <td>25</td>
    <td>Medico General</td>
    <td>+56981842310</td>
    <td>Perpetua Freire 123, Florida</td>
  </tr>
</table>

</body>
</html>

