<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1 class="p-3 m-3" style="text-align: center;">
        Formulario Inscripción Veterinario</h1>

<div class="container" fxLayout="row" fxLayout.md="column">
    <div fxFlex="100" fxLayout="column">      
      <p></p>
      <p></p>
      <br>
      

        <!--campos-->
        <div>
            <div class="container">
                <form class="">
                    <div class="mb-3 row">
                        <label for="inputName" class="col-xs-4 col-form-label">Nombre</label>
                        <div class="col-xs-8">
                            <input type="text" class="form-control" name="inputName" id="inputName" placeholder="Nombre" required>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="inputName" class="col-xs-4 col-form-label">Apellido</label>
                        <div class="col-xs-8">
                            <input type="text" class="form-control" name="inputName" id="inputName" placeholder="Apellido" required>
                        </div>
                    
                    </div>
                    <div class="mb-3 row">
                        <label for="inputName" class="col-xs-4 col-form-label">Genero</label>
                        <div class="col-xs-8">
                            <select name="tipo" id="tipo">
                                <option value="">-Seleccione-</option>
                                <option value="">Masculino</option>
                                <option value="">Femenino</option>
                                <option value="">Otros</option>
                            </select>
                        </div>
                    </div>
                    <form>  
                        <label>  
                          Edad <br><br>  
                          Fecha y Hora: <input type="datetime-local" name="meetingdate"> <br>
                        </label>  
                    </form>
                    <br>
                    <div class="mb-3 row">
                        <label for="inputName" class="col-xs-4 col-form-label">Especialización</label> <br>
                        <div class="col-xs-4">
                            <input type="text" class="form-control" name="año" id="año" placeholder="Especialización">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="inputName" class="col-xs-4 col-form-label">Numero Contacto</label>
                        <div class="col-xs-8">
                            <input type="textarea" class="form-control" name="descripcion" id="descripcion" placeholder="+569">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="inputName" class="col-xs-4 col-form-label">Dirección</label>
                        <div class="col-xs-8">
                            <input type="textarea" class="form-control" name="descripcion" id="descripcion" placeholder="Dirección">
                        </div>
                    </div>

                </form>
            </div>
        </div>

          
        <br>
        <div style="text-align: center;">
            <div class="p-3">
                <button class="btn btn-success" (click)="crearVeterinario()">
                    Registrar
                </button>
            </div>
            <div class="p-3">            
                <button routerLink="petApp" class="btn btn-primary">
                    Volver al Home
                </button>
            </div>
        </div>
    </div>
</div>

    
</body>
</html>