<mat-sidenav-container fullscreen>
    <mat-sidenav #sidenav mode="side">
        <mat-toolbar color="primary">

            <button mat-icon-button
                    (click)="sidenav.toggle()">
                <mat-icon>menu</mat-icon>
            </button>

            <span>Menú</span>

        </mat-toolbar>

        <mat-nav-list>
            <a routerLink="./crear-mascota"
               mat-list-item
               (click)="sidenav.toggle()">
               <mat-icon mat-list-icon>add</mat-icon>
               <span>Crear Mascotas</span>
            </a>

            <a routerLink="./listado-mascotas" mat-list-item
                (click)="sidenav.toggle()">
                <mat-icon mat-list-icon>label</mat-icon>
                <span>Listado de Mascotas</span>
            </a>

            <a routerLink="./buscar-mascota" mat-list-item
                (click)="sidenav.toggle()">
                <mat-icon mat-list-icon>search</mat-icon>
                <span>Buscar Mascota</span>
            </a>

            <mat-divider></mat-divider>

            <a routerLink="./crear-veterinario"
                mat-list-item
                (click)="sidenav.toggle()">
                <mat-icon mat-list-icon>dashboard</mat-icon>
                <span>Crear Veterinario</span>
            </a>

            <a routerLink="./listado-veterinarios"
                mat-list-item
                (click)="sidenav.toggle()">
                <mat-icon mat-list-icon>list</mat-icon>
                <span>Listado de Veterinarios</span>
            </a>

            <mat-divider></mat-divider>

            <a routerLink="./reserva-hora"
                mat-list-item
                (click)="sidenav.toggle()">
                <mat-icon mat-list-icon>calendar_today</mat-icon>
                <span>Reservar Hora</span>
            </a>

            <a routerLink="./horas-agendadas"
                mat-list-item
                (click)="sidenav.toggle()">
                <mat-icon mat-list-icon>calendar_view_day</mat-icon>
                <span>Horas agendadas</span>
            </a>

            <mat-divider></mat-divider>

            <a routerLink="./crear-sucursal"
                mat-list-item
                (click)="sidenav.toggle()">
                <mat-icon mat-list-icon>create_new_folder</mat-icon>
                <span>Crear Sucursal</span>
            </a>

            <a routerLink="./listado-sucursal"
                mat-list-item
                (click)="sidenav.toggle()">
                <mat-icon mat-list-icon>format_list_numbered</mat-icon>
                <span>Listado de Sucursales</span>
            </a>

            <mat-divider></mat-divider>

            <a routerLink="./ver-perfil"
                mat-list-item
                (click)="sidenav.toggle()">
                <mat-icon mat-list-icon>pets</mat-icon>
                <span>Mantenedor Mascotas</span>
            </a>

            <mat-divider></mat-divider>

            <a routerLink="./mantenedor-usuario"
                mat-list-item
                (click)="sidenav.toggle()">
                <mat-icon mat-list-icon>supervisor_account</mat-icon>
                <span>Perfil Usuario</span>
            </a>

            <mat-divider></mat-divider>
        </mat-nav-list>
    </mat-sidenav>

    <mat-toolbar>
        <button mat-icon-button
                (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>

        <span class="spacer"></span>

        <span >Bienvenido</span>

        <button mat-button color="primary" 
                *ngIf="!isLogin; else loggedOut">
        <mat-icon mat-list-icon>logout</mat-icon>
            Logout
        </button>

        <ng-template #loggedOut>
            <button mat-button color="primary">
            <mat-icon mat-list-icon>login</mat-icon>
                Login
            </button>
        </ng-template>
    </mat-toolbar>

    <div class="container">
        <router-outlet></router-outlet>
    </div>  
</mat-sidenav-container>