
<div class="container">
    <h2>Listado de Mascotas</h2>

    <table class="table table-bordered py-4">
        <thead>
            <tr>
                <th>No</th>
                <th>Nombre</th>
                <th>Apodo</th>
                <th>Sexo</th>
                <th>Raza</th>
                <th>Fecha Nacimiento</th>
                <th>Lugar de Nacimiento</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <!-- <tr *ngFor="let cliente of clientes">
                <td>{{ cliente.id }}</td>
                <td>{{ cliente.nombre }}</td>
                <td>{{ cliente.apellidoPaterno }} {{ cliente.apellidoMaterno }}</td>
                <td>{{ cliente.email }}</td>
                <td>{{ cliente.fechaNacimiento }}</td>
                <td>{{ cliente.comuna?.region?.nombre }}</td>
                <td>{{ cliente.comuna?.nombre }}</td>
                <td>
                    <button class="new-button" 
                            (click)="confirm(cliente, $event )">
                        <mat-icon class="customIconSize" color="warn">delete</mat-icon>
                    </button>    
                </td>
            </tr> -->
            <tr *ngFor="let mascota of mascotas">
                <td>{{ mascota.id }}</td>
                <td>{{ mascota.nombreMascota }}</td>
                <td>{{ mascota.apodoMascota }}</td>
                <td>{{ mascota.sexo?.nombre }}</td>
                <td>{{ mascota.raza?.nombre }}</td>
                <td>{{ mascota.fechaNacimiento }}</td>
                <td>{{ mascota.lugarNacimiento }}</td>
                <td>
                    <button class="btn btn-primary btn-xs"><mat-icon>edit</mat-icon></button>
                    <button class="btn btn-danger btn-xs"><mat-icon>delete</mat-icon></button>
                </td>
            </tr>
        </tbody>
    </table>

    <mat-paginator [length]="totalRegistros"
                [pageSize]="totalPorPagina"
                [pageIndex]="paginaActual"
                [pageSizeOptions]="pageSizeOptions"
                (page)="paginar( $event )"
                showFirstLastButtons>
    </mat-paginator>
</div>

<p-toast></p-toast>
<p-confirmPopup></p-confirmPopup>
