<h1>
  Crear Sucursal
</h1>

<div 
   class="container"
   fxLayout="row" 
   fxLayout.md="column">

    <div fxFlex="100" fxLayout="column">

      <mat-divider></mat-divider>
      <h3 class="bg-primary text-white">Crear Sucursal</h3>
      <mat-divider></mat-divider>

      <mat-form-field fxFlex="100"  fxLayout.xs="column">
        <mat-label>Nombre Sucursal</mat-label>
        <input matInput
                type="text"
                required
                [(ngModel)]="sucursal.nombre">
    </mat-form-field>

    <mat-form-field fxFlex="100"  fxLayout.xs="column">
        <mat-label>Encargado Sucursal</mat-label>
        <input matInput
                type="text"
                required
                [(ngModel)]="sucursal.encargado">
    </mat-form-field>

    <mat-form-field fxFlex="100"  fxLayout.xs="column">
        <mat-label>Email</mat-label>
        <input matInput
                type="text"
                [(ngModel)]="sucursal.email"
                required email>
    </mat-form-field>

    <mat-form-field fxFlex="100"  fxLayout.xs="column">
        <mat-label>Telefono Contacto</mat-label>
        <input matInput
                type="text"
                [(ngModel)]="sucursal.telefono"
                required>
    </mat-form-field>

        <mat-form-field fxFlex="100"  fxLayout.xs="column">
        <mat-label>Dirección Completa</mat-label>
        <input matInput
                type="text"
                [(ngModel)]="sucursal.direccion"
                required>
    </mat-form-field>

    <mat-form-field fxFlex="100" class="example-full-width" appearance="fill">
        <mat-label>Seleccione Región</mat-label>
        <mat-select [(ngModel)]="sucursal.region"
                    required>
          <mat-option *ngFor="let r of regiones" [value]="r.nombre">
            {{ r.nombre }} 
          </mat-option>
        </mat-select>
      </mat-form-field>  

    <mat-form-field fxFlex="100" class="example-full-width" appearance="fill">
        <mat-label>Seleccione Comuna</mat-label>
        <mat-select [(ngModel)]="sucursal.comuna"
                    required>
          <mat-option *ngFor="let c of comunas" [value]="c.nombre">
            {{ c.nombre }} 
          </mat-option>
        </mat-select>
      </mat-form-field>  
   
  <div class="row">
    <button class="btn btn-block btn-success" (click)="crearSucursal()">
        <mat-icon >edit</mat-icon>
        Crear Sucursal
    </button>
    <span class="spacer"></span>
</div>